.panelWindow{
    display:flex;
    border-bottom: 1px solid gray;
    height: 100px;
}

.seatInfo{
    float: right;
    width : 100%; 
}

.seat{
    display: block;
}

.peopleNum {
    display: flex;
    font-size: 1.4rem;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    height: 100px;
    margin-bottom: 5px;
    
    border-left : 1px solid gray;
}


.inputNumber {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 30px;
}
  
.inputNumber span {
    position: absolute;
    left: 50%;
    margin-top: 2px;
    margin-left: -15px;
    display: inline-block;
    height: 26px;
    width: 26px;
    border-radius: 20px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #6C6DFF;
    letter-spacing: -1px;
}
  
.inputNumber .btn {
    display: inline-block;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-weight:300;
    font-size: 20px;
    cursor: pointer;
    
    background-color: rgba(68, 99, 253, 0.7);
    transition: background-color .2s ease;
}
  
.inputNumber .btn:hover {
    
    background-color: rgba(68, 99, 253, 0.9);
}

.name {
    font-size: 12px;
    font-weight: 100;
    float: left;
}
