.text {
  font-size: 20px;
  text-align: left;
}

.card {
  width: 300px;
}

.userInfo {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  padding-left: 20px;
}

.btn {
  margin-bottom: 10px;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}
.textCard {
  display: block;
}
