.prevBtn {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
  
.nextBtn {
margin-top: 10px;
margin-right: 10px;
float: right;
}

.header {
    font-size: 20px;
    height: 30px;
    text-align: left;
    color: #3e3e3e;
}

.footer {
    padding-top: 0px;
    font-size: 16px;
    height: 100px;
    text-align: left;
    color: #3e3e3e;
}

.card {
    margin-top: 30px;
    width: 400px;
}

.userInfo {
    position: relative;
}

.text {
    text-align: right;
}

.title {
    font-size: 30px;
    position: relative;
    bottom: 20%;
    right: 40%;
}
.cardImg {
    padding: 10px;
}

.input {
    border: #888888 2px solid;
}

.explain {
    font-size: 12px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}