.prevBtn {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
  
.nextBtn {
margin-top: 10px;
margin-right: 10px;
float: right;
}

.header {
    font-size: 20px;
    height: 30px;
    text-align: left;
    color: white;
}

.footer {
    padding-top: 0px;
    font-size: 16px;
    height: 100px;
    text-align: left;
    color: white;
}

.card {
    margin-top: 30px;
    margin-left: 200px;
    width: 500px;
}

.userInfo {
    position: fixed;
    top: 35%;
    left: 50%;
}

.text {
    text-align: right;
}

.title {
    font-size: 30px;
    position: relative;
    right: 30%;
}

