.header{
    display: block;
    height: 40px;
}

.logo{
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
}

.logo2{
    margin-left: 50%;
    margin-right: 50%;
}