.header{
    display: block;
    height: 40px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
}

.logo2{
    flex-basis: 75%;
    margin-left: 6%;

}

.btn {
    position: absolute;
    position: fixed;
    right: 100px;
    top: 10px;
    font-size: 16px;
    background-color: rgba(117, 139, 255, 0);
    border: none;
}

.line {
    position: absolute;
    right: 200px;
    top: 5px;
    font-size: 22px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}