.show {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: normal;
    color : white;
    float: left;
  }

  .show2 {
    font-size: 18px;
    font-weight: bold;
    color : black;
    float: left;
  }